body { font-family: sans-serif; font-size: 20px; }
#screen {  position:absolute; top:0;bottom:0;left:0;right:0;}
#controls { position:absolute; left: 10%; top: 10%;}
#textareaimport { height: 300px; width: 500px; }
.item { position: absolute; }


.help-text { font-size: 14px; color: #777; max-width: 500px; }